@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
body {
	background: rgb(19,175,240);
    background: linear-gradient(105deg, rgba(91,104,235,1) 0%, rgba(40,225,253,1) 100%);
	font-family: "Roboto", sans-serif;
	background-size:cover;
}
.shadow {
	box-shadow: black !important;
}

.profile-tab-nav {
	min-width: 250px;
}

.tab-content {
	flex: 1;
	height: 500PX;
}

.form-group {
	margin-bottom: 1.5rem;
}

.nav-pills a.nav-link {
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    color: #333;
    background-size: cover;
    height: 50px; /* Set a fixed height for each navigation link */
    display: flex;
    align-items: center; /* Center the content vertically */
}

.nav-pills a.nav-link i {
	width: 20px;
}

.img-circle img {
	height: 100px;
	width: 100px;
	border-radius: 100%;
	border: 5px solid #fff;
}
